{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}   {% endblock  %}</title>
    <link rel="stylesheet" href= "  {%static 'css/base.css'%}">
</head>
<body>
    <div id="header">
         <span class="logo">Authentication for Blog Post</span>
         {% if request.user.is_authenticated %}
            <ul class='menu'>
                



         </ul>
         
         {% endif %}


         <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name|default:request.user.username }}
                <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </span>
        </div>
        {% if messages %}
        <ul class="messages"> 
           {% for message in messages  %}
           <li class="{{message.tags}}">
                    {{message|safe}}

           </li>
           <a href="#" class="close">X</a>
                 
        {% endfor %}
        </ul>
        
        {% endif %}
        <div id="content">



            {% block content %}
              
            {% endblock  %}
        </div>
</body>
</html>