{% load static %}
<footer class="border-top">
    <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="list-inline text-center">
            <li class="list-inline-item">
    <a href="https://www.linkedin.com/in/yousef-elsheikh%F0%9F%87%B5%F0%9F%87%B8-b809b5233/">
        <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>  <!-- دائرة خلفية -->
            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>  <!-- أيقونة LinkedIn -->
        </span>
    </a>
    <li class="list-inline-item">
    <a href="https://wa.me/+201027942204">  <!-- رابط إلى واتساب -->
        <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>  <!-- دائرة خلفية -->
            <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>  <!-- أيقونة واتساب -->
        </span>
    </a>
</li>

</li>

            <li class="list-inline-item">
            <a href="https://m.facebook.com/profile.php/?id=100009266273904">
                <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            </li>
            <li class="list-inline-item">
            <a href="https://github.com/Usef3">
                <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            </li>
        </ul>
        <div class="small text-center text-muted fst-italic">
            Copyright &copy; FOXS TEAM 🐺🐺
        </div>
        </div>
    </div>
    </div>
</footer>