{% if comment %}
  <div class="logout-container" style="max-width: 600px; margin: 50px auto; text-align: center; padding: 30px; background: #f7f7f7; border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #007bff; font-size: 2em; font-weight: bold;">Your comment was created.</h1>
    <p style="color: #555; font-size: 1.2em; margin-top: 10px;">
     <a href="{{ post.get_absolute_url }}">Back to your post</a>
    </p>
    
    <div style="margin-top: 30px;">
        <i class="fas fa-sign-out-alt" style="font-size: 50px; color: #007bff;"></i>
    </div>
</div> 
{% else %}
  {% include "includes/comment_form.html" %}
{% endif %}
