{% extends "base3.html" %}

{% block title %} Reset your password {% endblock %}

{% block content %}
    

 <div class="logout-container" style="max-width: 600px; margin: 50px auto; text-align: center; padding: 30px; background: #f7f7f7; border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #007bff; font-size: 2em; font-weight: bold;"> Reset your password</h1>
    <p style="color: #555; font-size: 1.2em; margin-top: 10px;">
       We have send you a reset password to your email address.
    </p>
    <p style="color: #555; font-size: 1.2em; margin-top: 10px;">
       If you don't receive a reset password email, please make sure you enter your email address correctly.
    </p>
    <p style="color: #555; font-size: 1.2em; margin-top: 10px;">
        You can
        <a href="{% url 'login' %}" style="color: #007bff; text-decoration: none; font-weight: bold;">
            Login again
        </a>
    </p>
    <div style="margin-top: 30px;">
        <i class="fas fa-sign-out-alt" style="font-size: 50px; color: #007bff;"></i>
    </div>
</div> 

{% endblock content %}